{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Cache-control" content="public">
    <meta charset="UTF-8">
    <meta name="description" content="Sample use case of team VIsionary project for Codebreak">
    <meta name="keywords" content="Model Website, Keras, Tensorflow">
    <meta name="author" content="Avishrant Sharma, Spriha Gautam, Ritik Dhiman, Aditi Aggrawal">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        Result
    </title>
    <link rel='stylesheet' href='{%static "style/base.css"%}'>
    <link href="static/assets/img/favicon.png" rel="icon">
    <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="static/assets/vendor/line-awesome/css/line-awesome.min.css" rel="stylesheet">
    <link href="static/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="static/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
</head>

<body>
    <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
        <div class="container d-flex align-items-center justify-content-between">

            <div class="logo">
                <h1 class="text-light"><a href="{%url 'home'%}"> </a></h1>

                <a href="{%url 'home'%}"><img src="static/assets/img/logo.png" alt="" class="img-fluid"></a>
            </div>
        </div>
    </header><!-- End Header -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center p-5 pb-1">
                <img src="{%url 'streamdt'%}">
            </div>
            <div class="col-12 my-3 d-flex justify-content-center">
                Processed Frames
            </div>
        </div>
    </div>
    <footer id="footer">
        <div class="container">
            <h3>Team Visionary</h3>
            <p>Re-creating a vision towards Safety and Security.</p>
            <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <!-- <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a> -->
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><span>Team Visionary</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/selecao-bootstrap-template/ -->
                <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>

    <!-- Vendor JS Files -->
    <script src="static/assets/vendor/jquery/jquery.min.js"></script>
    <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="static/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="static/assets/vendor/php-email-form/validate.js"></script>
    <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="static/assets/vendor/venobox/venobox.min.js"></script>
    <script src="static/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="static/assets/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script src="static/assets/js/main.js"></script>
</body>

</html>